header {
  background: beige;
}

nav {
  background: pink;
}

.left-item {
  background: lime;
  padding-top: 25%;
  float: left;
  width: 75%;
}

.right-item {
  background: orange;
  padding-top: 25%;
  float: left;
  width: 25%;
}

.clearfix {
  clear: both;
}

footer {
  background: maroon;
  float: left;
}
